In [227]:
import pandas as pd
import numpy as np

In [228]:
genre =[]
genre.append(pd.read_csv("Corpus/Crime.csv"))
genre.append(pd.read_csv("Corpus/Psychology.csv"))
genre.append(pd.read_csv("Corpus/Children.csv"))
genre.append(pd.read_csv("Corpus/Fiction.csv"))
genre.append(pd.read_csv("Corpus/Geography.csv"))
genre.append(pd.read_csv("Corpus/History.csv"))
genre.append(pd.read_csv("Corpus/Religion.csv"))

In [229]:
n = len(genre)
for i in range(0,n):
    del genre[i]['Unnamed: 0']

In [230]:
len(genre[1])

204

In [231]:
result = []
for i in range(0,n):
    for j in range (0,n):
        if i < j:
            temp = pd.merge(genre[i], genre[j], how='inner', on=['bookId'])
#             print temp['bookId'].values.tolist()
            result = result + temp['bookId'].values.tolist()

In [235]:
result = sorted(set(result))

In [170]:
print result['bookId'][0]
print genre[0].loc[(genre[0]['bookId'] == 14976)].index

509045
Int64Index([0], dtype='int64')

In [237]:
m=len(result)
for j in range(0,m):
    for i in range(0,n):
        genre[i]=genre[i].drop(genre[i].loc[genre[i]['bookId'] == result[j]].index)

In [241]:
len(genre[5])

165

In [242]:
for i in range(0,n-1):
    genre[i+1] = genre[i].append(genre[i+1], ignore_index=True)

In [245]:
bigdata = genre[n-1]

In [253]:
len(bigdata)

4904

In [246]:
bigdata.describe()

,genre,bookId,entity.n.01,abstraction.n.06,physical_entity.n.01,thing.n.08,attribute.n.02,ballast.n.03,character.n.09,cheerfulness.n.01,...,toothbrush.n.01,weaponry.n.01,ammunition.n.01,armament.n.01,bomb.n.01,defense_system.n.01,gunnery.n.01,hardware.n.01,naval_weaponry.n.01,totalWords
count,4904.000000,4.904000e+03,4904.000000,4904.0,4904.0,4904.0,4904.0,4904.0,4904.0,4904.000000,...,4904.0,4904.000000,4904.000000,4904.000000,4904.0,4904.0,4904.000000,4904.000000,4904.0,4.904000e+03
mean,3.442496,4.284234e+04,0.765498,0.0,0.0,0.0,0.0,0.0,0.0,0.281403,...,0.0,0.134584,1.202692,3.095636,0.0,0.0,0.029568,0.142129,0.0,6.668573e+04
std,1.445014,1.649203e+06,4.206051,0.0,0.0,0.0,0.0,0.0,0.0,0.967730,...,0.0,1.059246,5.891959,19.235788,0.0,0.0,0.678433,1.216007,0.0,1.145633e+05
min,1.000000,0.000000e+00,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000e+00
25%,3.000000,8.985500e+03,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,9.652750e+03
50%,3.000000,1.871950e+04,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,4.186400e+04
75%,4.000000,2.501800e+04,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.000000,1.000000,0.0,0.0,0.000000,0.000000,0.0,8.555850e+04
max,7.000000,1.155069e+08,145.000000,0.0,0.0,0.0,0.0,0.0,0.0,24.000000,...,0.0,30.000000,250.000000,773.000000,0.0,0.0,44.000000,69.000000,0.0,2.399290e+06

In [252]:
bigdata.apply(lambda x: sum(x==0),axis=0)

genre                             0
bookId                            1
entity.n.01                    4015
abstraction.n.06               4904
physical_entity.n.01           4904
thing.n.08                     4904
attribute.n.02                 4904
ballast.n.03                   4904
character.n.09                 4904
cheerfulness.n.01              4175
common_denominator.n.02        4904
depth.n.06                     4904
eidos.n.01                     4901
ethos.n.01                     4893
human_nature.n.01              4904
inheritance.n.04               2812
personality.n.01               3057
property.n.02                   273
quality.n.01                    356
shape.n.02                      576
space.n.01                     1407
state.n.02                      244
thing.n.09                     4904
time.n.05                       577
trait.n.01                      696
uncheerfulness.n.02            4903
communication.n.02             4904
auditory_communication.n.01     476
contagion.n.03                 4904
didacticism.n.01               4895
                               ...
selsyn.n.01                    4900
shipboard_system.n.01          4904
solar_thermal_system.n.01      4904
sprinkler_system.n.01          4904
synchromesh.n.01               4904
toiletry.n.01                  4901
antiperspirant.n.01            4903
bath_oil.n.01                  4904
bath_salts.n.01                4904
cosmetic.n.01                  4719
cream.n.03                     4843
deodorant.n.01                 4897
hair_spray.n.01                4904
hairdressing.n.01              4842
lotion.n.01                    4806
mousse.n.03                    4904
perfume.n.02                   4632
powder.n.03                    4904
shaving_cream.n.01             4904
shaving_foam.n.01              4904
toothbrush.n.01                4904
weaponry.n.01                  4649
ammunition.n.01                3759
armament.n.01                  3062
bomb.n.01                      4904
defense_system.n.01            4904
gunnery.n.01                   4849
hardware.n.01                  4488
naval_weaponry.n.01            4904
totalWords                      224
dtype: int64

In [256]:
bigdata = bigdata.loc[:,(bigdata != 0).any(axis=0)]

In [273]:
wordnet = list(bigdata)

In [274]:
wordnet = wordnet[2:-1]

In [285]:
for word in wordnet:
    bigdata[(word)] = bigdata[(word)]/bigdata['totalWords']*1000000

/home/abhijeet/anaconda3/envs/py27/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [286]:
bigdata

,genre,bookId,entity.n.01,cheerfulness.n.01,eidos.n.01,ethos.n.01,inheritance.n.04,personality.n.01,property.n.02,quality.n.01,...,deodorant.n.01,hairdressing.n.01,lotion.n.01,perfume.n.02,weaponry.n.01,ammunition.n.01,armament.n.01,gunnery.n.01,hardware.n.01,totalWords
0,1,14976,0.000000,0.000000,0.0,0.0,0.000000,51.626294,1359.492409,653.933057,...,0.0,0.000000,0.000000,0.000000,0.000000,86.043823,0.000000,0.0,0.000000,24106
1,1,2750,0.000000,0.000000,0.0,0.0,9.964479,4.982239,1036.305777,846.980683,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,44801
2,1,2754,0.000000,0.000000,0.0,0.0,24.235493,0.000000,1744.955514,1260.245649,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,20313
3,1,2747,0.000000,29.867079,0.0,0.0,0.000000,0.000000,2568.568811,1284.284405,...,0.0,0.000000,0.000000,0.000000,0.000000,29.867079,0.000000,0.0,0.000000,18298
4,1,2749,0.000000,0.000000,0.0,0.0,0.000000,11.716239,1335.651235,1417.664907,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,29215
5,1,12027,0.000000,0.000000,0.0,0.0,10.706601,3.568867,783.366282,754.815347,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,74860
6,1,2757,0.000000,0.000000,0.0,0.0,0.000000,0.000000,1692.975842,769.534474,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,119.705363,0.0,0.000000,24182
7,1,2746,0.000000,0.000000,0.0,0.0,0.000000,5.765164,1003.138611,905.130816,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,41648
8,1,15803,0.000000,0.000000,0.0,0.0,7.185682,11.976137,1195.218457,716.172983,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,64614
9,1,20674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
10,1,3617,0.000000,0.000000,0.0,0.0,0.000000,0.000000,3036.308665,6983.509929,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,151.815433,0.0,151.815433,8116
11,1,2743,0.000000,0.000000,0.0,0.0,0.000000,0.925856,390.711028,226.834601,...,0.0,0.000000,0.000000,0.000000,0.925856,11.110266,13.887833,0.0,0.000000,103927
12,1,2442,10.080530,0.000000,0.0,0.0,0.000000,1.005361,293.565547,518.766515,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,4.021446,0.0,0.000000,99733
13,1,13097,0.000000,0.617824,0.0,0.0,0.000000,0.000000,144.747297,130.978652,...,0.0,0.088261,0.000000,0.000000,0.000000,0.529563,0.529563,0.0,0.088261,336602
14,1,14975,0.000000,0.000000,0.0,0.0,0.000000,0.000000,2635.254075,4080.393407,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,170.016392,0.0,0.000000,10846
15,1,2748,0.000000,3.937697,0.0,0.0,11.813092,0.000000,815.103358,866.293424,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,3.937697,0.0,0.000000,50394
16,1,2755,0.000000,0.000000,0.0,0.0,0.000000,0.000000,1388.304668,1083.554862,...,0.0,0.000000,0.000000,33.861089,0.000000,0.000000,101.583268,0.0,0.000000,17185
17,1,17188,48.540958,0.000000,0.0,0.0,0.000000,1.378240,538.891689,241.191932,...,0.0,0.000000,0.000000,0.000000,0.000000,8.269438,63.399022,0.0,0.000000,85180
18,1,14065,4801.687020,0.000000,0.0,0.0,0.000000,0.000000,2240.415946,1886.666060,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,18418
19,1,6422,0.000000,0.000000,0.0,0.0,0.000000,0.000000,502.506654,113.862779,...,0.0,0.000000,0.000000,0.000000,0.000000,11.618651,1.161865,0.0,0.000000,131201
20,1,13172,0.000000,0.000000,0.0,0.0,22.585480,16.562686,444.181113,275.542860,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,3.011397,0.0,0.000000,81495
21,1,446,0.000000,0.000000,0.0,0.0,9.614294,8.740268,310.279500,331.256142,...,0.0,0.874027,0.000000,0.000000,0.000000,6.992214,0.874027,0.0,0.000000,106964
22,1,477,25.523261,0.000000,0.0,0.0,1.176533,8.235731,464.730527,594.149155,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.176533,0.0,0.000000,92193
23,1,2760,0.000000,0.097584,0.0,0.0,0.409851,0.175651,54.959093,44.556679,...,0.0,0.000000,0.000000,0.039033,0.058550,0.429368,1.580855,0.0,0.000000,715808
24,1,14977,0.000000,0.000000,0.0,0.0,0.000000,0.000000,648.183815,810.229769,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,12.465073,0.0,0.000000,40056
25,1,2753,0.000000,0.000000,0.0,0.0,20.633042,4.126608,874.840986,631.371089,...,0.0,0.000000,0.000000,0.000000,8.253217,24.759651,94.911994,0.0,0.000000,49227
26,1,10580,531.019183,0.000000,0.0,0.0,14.127765,240.172011,1426.904302,2090.909274,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,26605
27,1,5268,0.000000,0.000000,0.0,0.0,0.000000,16.429814,483.036525,599.688203,...,0.0,0.000000,0.000000,0.000000,0.000000,1.642981,0.000000,0.0,0.000000,78016
28,1,2752,0.000000,0.000000,0.0,0.0,26.070709,52.141419,1903.161784,2007.444621,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,26.070709,0.0,0.000000,19585
29,1,2745,0.000000,0.000000,0.0,0.0,0.000000,0.000000,1743.816813,879.235368,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,14.653923,0.0,0.000000,26123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4874,7,11536,23.636589,2.559157,0.0,0.0,0.853052,0.000000,284.919498,554.484053,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.853052,0.0,0.000000,108271
4875,7,19252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4876,7,2882,0.000000,0.000000,0.0,0.0,3.918746,2.449216,251.289581,274.312213,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.489843,0.0,0.000000,142880
4877,7,5211,0.000000,0.000000,0.0,0.0,0.000000,36.597742,2781.428403,1427.311943,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,36.597742,0.0,0.000000,16530
4878,7,19271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4879,7,16523,62.607578,0.000000,0.0,0.0,80.883982,5.392265,411.160243,718.519376,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,86128
4880,7,13407,59.771961,2.614097,0.0,0.0,7.842291,70.580615,448.317609,628.690291,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,87469
4881,7,20248,8.816516,0.000000,0.0,0.0,2.758370,6.436198,422.030665,488.231553,...,0.0,0.000000,0.000000,1.838914,0.000000,0.000000,0.000000,0.0,0.000000,104288
4882,7,14368,4.584772,0.000000,0.0,0.0,4.573524,0.857536,175.794842,128.344527,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.285845,0.0,0.000000,187040
4883,7,19240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4884,7,45005,0.000000,0.000000,0.0,0.0,0.000000,147.347483,3048.959458,2504.907212,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,11.334422,0.0,0.000000,29703
4885,7,25254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4886,7,8548,0.000000,95.453718,0.0,0.0,47.726859,0.000000,2004.528086,3245.426425,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,47.726859,14475
4887,7,1493,0.000000,0.440378,0.0,0.0,13.651710,0.440378,246.611541,227.675298,...,0.0,0.000000,0.440378,0.000000,0.000000,0.000000,1.321133,0.0,0.000000,150691
4888,7,8069,1.045811,0.139835,0.0,0.0,3.076367,1.957688,196.328156,294.632068,...,0.0,0.000000,0.000000,0.000000,1.118679,0.139835,0.559339,0.0,0.000000,267419
4889,7,7284,0.000000,0.000000,0.0,0.0,17.540019,0.000000,406.609534,349.205835,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.594547,79192
4890,7,26881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4891,7,19239,80.280314,0.926640,0.0,0.0,0.926640,2.779920,438.300711,1391.813250,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,103883
4892,7,19950,0.000000,0.000000,0.0,0.0,0.598820,1.497049,80.211893,209.556940,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,577919
4893,7,20927,0.000000,0.000000,0.0,0.0,0.000000,0.000000,194.543038,211.806243,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,122723
4894,7,5139,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.799849,0.342792,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,295832
4895,7,16653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4896,7,48284,0.000000,0.000000,0.0,0.0,0.000000,0.000000,835.188276,299.018025,...,0.0,0.000000,0.000000,0.000000,0.000000,20.621933,6.873978,0.0,0.000000,53940
4897,7,7042,0.000000,0.000000,0.0,0.0,6.051182,0.000000,494.179880,948.018545,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,2.017061,70411
4898,7,16983,114.274782,0.000000,0.0,0.0,0.000000,2.439043,580.492199,865.860214,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,64031
4899,7,3150,163.779585,0.000000,0.0,0.0,0.000000,0.000000,1013.849348,2105.210115,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,56792
4900,7,19635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4901,7,13468,25.462875,0.000000,0.0,0.0,8.068014,9.860906,547.728490,415.054486,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,2.689338,0.0,0.000000,105618
4902,7,15800,76.975014,1.874213,0.0,0.0,14.993706,52.477972,597.874040,1055.182082,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.874213,0.0,0.000000,73045
4903,7,13127,3.449836,0.236475,0.0,0.0,0.000000,0.000000,231.745273,185.396219,...,0.0,0.000000,0.236475,0.000000,0.000000,0.000000,1.655323,0.0,0.000000,205640

In [134]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],'B': ['B0', 'B1', 'B2'],'key1':['K0', 'K1', 'K2']})
right = pd.DataFrame({'A': ['A0', 'C2', 'C3'],'D': ['D0', 'D2', 'D3'],'key1':['K0', 'K2', 'K3']})
result = pd.merge(left, right, how='inner', on=['key1'])

In [39]:
left

    A   B key1
0  A0  B0   K0
1  A1  B1   K1
2  A2  B2   K2

In [40]:
right

    A   D key1
0  A0  D0   K0
1  C2  D2   K2
2  C3  D3   K3

In [41]:
result

  A_x   B key1 A_y   D
0  A0  B0   K0  A0  D0
1  A2  B2   K2  C2  D2

In [46]:
a = result.loc[(result['A_x'] != result['A_y'])].index

In [49]:
print a

Int64Index([1], dtype='int64')

In [52]:
result = result.drop(a)

In [53]:
result

  A_x   B key1 A_y   D
0  A0  B0   K0  A0  D0

In [188]:
a = [2]
b = [1,2,3]

In [189]:
c = a+b

In [193]:
sorted(set(c))

[1, 2, 3]